In [109]:
# 필요한 라이브러리 import 
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [110]:
# 데이터 불러오기 - 기존 PassengerId 컬럼을 인덱스로 설정
train = pd.read_csv('./Train.csv')
test = pd.read_csv('./test.csv')

# DATA 정리  


**데이터 정보 정리**
- 'ID' : 회원 번호
- 'Warehouse_block ' : 창고위치 (A,B,C,D,E. 위치로 나뉘어 진다.)  
- 'Mode_of_Shipment' : 배송 방법  
- 'Customer_care_calls' : 고객통화 횟수  
- 'Customer_rating' :  고객 평가  
- 'Cost_of_the_Product' : 제품 가격  
- 'Prior_purchases' : 사전구매  
- 'Product_importance' : 제품 중요도  
- 'Gender' : 성별  
- 'Discount_offered' : 할인 제공  
- 'Weight_in_gms' : 무게  
- 'Reached.on.Time_Y.N' : 제떄 도착했냐? (정답 데이터)  


### .info()
Data columns (total 12 columns):  
Data columns (total 11 columns):


### .columns
'ID', 'Warehouse_block ', 'Mode_of_Shipment', 'Customer_care_calls',  
       'Customer_rating', 'Cost_of_the_Product', 'Prior_purchases',  
       'Product_importance', 'Gender', 'Discount_offered', 'Weight_in_gms',  
       'Reached.on.Time_Y.N']    
       
       
'ID', 'Warehouse_block ', 'Mode_of_Shipment', 'Customer_care_calls',  
       'Customer_rating', 'Cost_of_the_Product', 'Prior_purchases',  
       'Product_importance', 'Gender', 'Discount_offered', 'Weight_in_gms'  
       
### 결측치 정리

 3   Customer_care_calls  5423 non-null   float64  
 6   Prior_purchases      6049 non-null   float64  
 9   Discount_offered     3468 non-null   float64  
 
 
 3   Customer_care_calls  3144 non-null   float64  
 6   Prior_purchases      3633 non-null   float64  
 9   Discount_offered     2085 non-null   float64  

### .shape()


(6999, 12)  
(4000, 11)

# train 컬럼 정리  

### ID  

숫자로 되어있음 1~6999   int64

### 1. Warehouse_block 
dtype=object  
['Warehouse_block '] 띄어쓰기 해야 검색됨 ..  
배열 형태 [A, B, C, D, F]    
== F창고 조회 빈도수 가장 많음  
#### .value_counts().sort_index()

A    1174  
B    1162  
C    1184  
D    1168  
F    2311   
 


### 2. Mode_of_Shipment  
object  
(운송 방법 같음)  
 zk 의 의미 해석 불가   
#### .value_counts()  
 Ship        4508 - 선박  
 Road        1075 - 도로  
 Flight      1039 - 항공  
?             373 -  ?
 Shipzk         2 -  
 Flightzk       1 -  
 Roadzk         1 -  

### 3. Customer_care_calls  
float64  
결측치 있음  
(고객 불평 전화)   
화물이 도착하고나서 전화인지   
도착하기 전에 컴플레인 전화인지 모름    
가장 적은 콜 횟수 - 2  
가장 많은 콜 횟수 - 7  

#### .describe()  
count    5423.000000  
mean        4.054582  
std         1.131019  
min         2.000000  
25%         3.000000  
50%         4.000000  
75%         5.000000  
max         7.000000  
#### .value_counts()    
4.0    1756  
3.0    1620  
5.0    1147  
6.0     496  
2.0     287  
7.0     117  


### Customer_rating  
int64  
= 5까지는 숫자가 있으나 6 _ 10 까지는 없음
  1_5 로 평점을 먹이려고 한 의도 같음  
  
max 에서 99 는 이상치 99   총 2개  있음 
1~5 제외한 숫자 99 2개가 다임  
  
#### .describe()  
count    6999.000000  
mean        3.023718  
std         2.149861  
min         1.000000   
25%         2.000000  
50%         3.000000    
75%         4.000000   
max        99.000000   

#### .value_counts()   
3     1451  
2     1399  
5     1399  
1     1391  
4     1357  
99       2  


//안봐도 됨 .value_counts() 의 존재를 모르고 한거   

/////////////////////////////////////////////////////////////////////////////////////////////  
**"Customer_rating" 열에서 10이라는 데이터가 있는지 확인**  
result = (train['Customer_rating'] == 10).any()  

**결과 출력**  
if result:  
    print('Ture')  
else:  
    print("False")    
///////////////////////////////////////////////////////////////////////////////////////////////  
count_99 = (train['Customer_rating'] == 99).sum()  
2  
//////////////////////////////////////////////////////////////////////////////////////////////////  
**"Customer_rating" 열에서 1부터 5까지의 값을 제외하고 나머지 숫자의 개수를 구합니다.**  
count_excluding_1_to_5 = ((train['Customer_rating'] < 1) | (train['Customer_rating'] > 5)).sum()  
  
결과 출력  
print("1부터 5까지를 제외한 숫자의 개수:", count_excluding_1_to_5)  
//////////////////////////////////////////////////////////////////////////////////////////////////    

# train

### Cost_of_the_Product  
int64  
9999 인 이상치 = 3 개  
#### .describe()   
count    6999.000000  
mean      214.249178  
std       208.294273  
min        96.000000  
25%       169.000000   
50%       214.000000  
75%       251.000000  
max      9999.000000  
//////////////////////////////////////////////////////////////////////////////////////////////////   
count_99 = (train['Cost_of_the_Product'] == 9999)  
count_99.sum()  
3  
//////////////////////////////////////////////////////////////////////////////////////////////////   
#### .value_counts()   
254    73  
250    68  
263    67  
243    67  
264    66  
       ..  
106     3  
302     2  
119     2  
122     2  
97      1  




### Prior_purchases  
float64  
결측치 있음  
각 수치가 사전구매 횟수인지 뭔지 모름  
#### .describe()   
count    6049.000000  
mean        3.576294  
std         1.530933  
min         2.000000  
25%         3.000000  
50%         3.000000  
75%         4.000000  
max        10.000000  

#### .value_counts()   
3.0     2176  
2.0     1423  
4.0     1162  
5.0      735  
6.0      310  
10.0     101  
8.0       72  
7.0       70  


### Product_importance  
제품 중요도  
object  
카테고리에 끝 글자가 하나씩 더붙은 이상치 존재  


#### .describe()   

count     6999  
unique       7   
top        low  
freq      3344  


#### .value_counts()  
low        3344  
medium     2982  
high        573   
?            97   
mediumm       1   
loww          1  
highh         1  



### Gender  
object

#### .describe()   
count     6999  
unique       2  
top          M  
freq      3509  

#### .value_counts()    
M    3509  
F    3490  


### Discount_offered  
할인 제공  
float64  
결측치 존재  
할인 횟수? 
#### .describe()   
count    3468.000000  
mean       13.269031   
std        16.070188  
min         1.000000  
25%         4.000000   
50%         7.000000   
75%        10.000000  
max        65.000000  

#### .value_counts()    
9.0     287  
2.0     278   
10.0    278  
3.0     277  
1.0     272  
       ...   
50.0     10  
18.0     10  
42.0      9  
26.0      8  
43.0      7  


### Weight_in_gms  
object  
화물 중량   

#### .describe()   
count     6999  
unique    3332  
top          ?  
freq       446  

#### .value_counts()    
?       446   
1817      8  
1367      8  
5709      7  
1861      7  
       ...   
4964      1  
5612      1  
2443      1  
2497      1  
1480      1  

## 정답 데이터    
### Reached.on.Time_Y.N'    
int64
#### .describe()   
count    6999.000000  
mean        0.594656  
std         0.490993  
min         0.000000  
25%         0.000000  
50%         1.000000  
75%         1.000000  
max         1.000000  

#### .value_counts()    
1    4162  
0    2837

# 몰랐던 함수 정리

- 컬럼별 결측치 개수 확인

train.isnull().sum(axis=0) 

- describe()는 수치형 데이터만 보여준다 범주형도 함께 보는 법
    
train.describe(include=['object'])


- 범주형만 뽑아서 보는 코드  

train.select_dtypes(include=['object'])

In [207]:
Warehouse_block=train['Mode_of_Shipment']
Warehouse_block

0          Ship
1        Flight
2          Ship
3          Ship
4        Flight
         ...
6994       Ship
6995       Ship
6996       Ship
6997       Road
6998       Ship
Name: Mode_of_Shipment, Length: 6999, dtype: object

In [209]:
Warehouse_block.info()

<class 'pandas.core.series.Series'>
RangeIndex: 6999 entries, 0 to 6998
Series name: Mode_of_Shipment
Non-Null Count  Dtype
--------------  -----
6999 non-null   object
dtypes: object(1)
memory usage: 54.8+ KB

In [210]:
Warehouse_block.describe()

count      6999
unique        7
top        Ship
freq       4508
Name: Mode_of_Shipment, dtype: object

In [211]:
Warehouse_block.value_counts()

 Ship        4508
 Road        1075
 Flight      1039
?             373
 Shipzk         2
 Flightzk       1
 Roadzk         1
Name: Mode_of_Shipment, dtype: int64

In [200]:
print(train.shape)
print(test.shape)

(6999, 12)
(4000, 11)

In [212]:
train.corr()

C:\Users\heewo\AppData\Local\Temp\ipykernel_2164\2189804198.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  train.corr()

,ID,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Reached.on.Time_Y.N
ID,1.000000,-0.007719,0.007690,0.009738,-0.002985,0.002196,-0.014909
Customer_care_calls,-0.007719,1.000000,0.013420,0.047041,0.173709,-0.158465,-0.070266
Customer_rating,0.007690,0.013420,1.000000,-0.001961,0.008217,-0.016456,0.011275
Cost_of_the_Product,0.009738,0.047041,-0.001961,1.000000,0.028947,-0.139349,-0.012811
Prior_purchases,-0.002985,0.173709,0.008217,0.028947,1.000000,-0.081868,-0.065160
Discount_offered,0.002196,-0.158465,-0.016456,-0.139349,-0.081868,1.000000,0.397393
Reached.on.Time_Y.N,-0.014909,-0.070266,0.011275,-0.012811,-0.065160,0.397393,1.000000

In [168]:
train.describe()

,ID,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Reached.on.Time_Y.N
count,6999.000000,5423.000000,6999.000000,6999.000000,6049.000000,3468.000000,6999.000000
mean,3500.000000,4.054582,3.023718,214.249178,3.576294,13.269031,0.594656
std,2020.581599,1.131019,2.149861,208.294273,1.530933,16.070188,0.490993
min,1.000000,2.000000,1.000000,96.000000,2.000000,1.000000,0.000000
25%,1750.500000,3.000000,2.000000,169.000000,3.000000,4.000000,0.000000
50%,3500.000000,4.000000,3.000000,214.000000,3.000000,7.000000,1.000000
75%,5249.500000,5.000000,4.000000,251.000000,4.000000,10.000000,1.000000
max,6999.000000,7.000000,99.000000,9999.000000,10.000000,65.000000,1.000000

In [14]:
test.describe()

,ID,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered
count,4000.000000,3144.000000,4000.000000,4000.00000,3633.000000,2085.000000
mean,8999.500000,4.055025,3.029250,212.86650,3.567300,13.282014
std,1154.844867,1.161132,2.573432,161.97119,1.522934,15.835045
min,7000.000000,2.000000,1.000000,96.00000,2.000000,1.000000
25%,7999.750000,3.000000,2.000000,170.00000,3.000000,4.000000
50%,8999.500000,4.000000,3.000000,214.50000,3.000000,7.000000
75%,9999.250000,5.000000,4.000000,251.00000,4.000000,10.000000
max,10999.000000,7.000000,99.000000,9999.00000,10.000000,65.000000